<div class="menu-container">
  <h2 class="menu-heading">Menu</h2>
  <% if user_signed_in? && current_user.admin? %>
    <%= link_to 'New Menu', new_menu_path %>
  <% end %>

  <section>
    <h2 class="menu-item-heading">~Pasta~</h2>
    <ul class="menu-item-list">
      <% @pasta_menus.each do |menu| %>
        <li class="menu-item">
        <div class="menu-item-header">
          <h3><%= menu.name %></h3>
          <td><%= link_to like_menu_path(menu), method: :post do %>
                <%= image_tag("heart.png", class: "like-btn") %>
              <% end %>
              <td class="like-btn">
              <%= number_with_delimiter(menu.likes.count) %>  likes</td>
          </td>
          </div>
          <p><%= menu.description %></p>
          <% if menu.image_url.present? %>
            <%= image_tag menu.image_url %>
          <% end %>
          <% if user_signed_in? && current_user.admin? %>
            <%= link_to 'Edit', edit_menu_path(menu), class: 'admin-link' %>
            <%= link_to 'Destroy', menu, method: :delete, data: { confirm: 'Are you sure?' }, class: 'admin-link' %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </section>

  <section>
    <h2 class="menu-item-heading">~Appetizers~</h2>
    <ul class="menu-item-list">
      <% @appetizer_menus.each do |menu| %>
        <li class="menu-item">
          <div class="menu-item-header">
          <h3><%= menu.name %></h3>
          <td><%= link_to like_menu_path(menu), method: :post do %>
                <%= image_tag("heart.png", class: "like-btn") %>
              <% end %>
              <td class="like-btn">
              <%= number_with_delimiter(menu.likes.count) %>  likes</td>
          </td>
          </div>
          <p><%= menu.description %></p>
          <% if menu.image_url.present? %>
            <%= image_tag menu.image_url %>
          <% end %>
          <% if user_signed_in? && current_user.admin? %>
            <%= link_to 'Edit', edit_menu_path(menu), class: 'admin-link' %>
            <%= link_to 'Destroy', menu, method: :delete, data: { confirm: 'Are you sure?' }, class: 'admin-link' %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </section>

  <section>
    <h2 class="menu-item-heading">~Dessert~</h2>
    <ul class="menu-item-list">
      <% @dessert_menus.each do |menu| %>
        <li class="menu-item">
          <div class="menu-item-header">
          <h3><%= menu.name %></h3>
          <td><%= link_to like_menu_path(menu), method: :post do %>
                <%= image_tag("heart.png", class: "like-btn") %>
              <% end %>
              <td class="like-btn">
              <%= number_with_delimiter(menu.likes.count) %>  likes</td>
          </td>
          </div>
          <p><%= menu.description %></p>
          <% if menu.image_url.present? %>
            <%= image_tag menu.image_url %>
          <% end %>
          <% if user_signed_in? && current_user.admin? %>
            <%= link_to 'Edit', edit_menu_path(menu), class: 'admin-link' %>
            <%= link_to 'Destroy', menu, method: :delete, data: { confirm: 'Are you sure?' }, class: 'admin-link' %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </section>

  <section>
    <h2 class="menu-item-heading">~Special Drink~</h2>
    <ul class="menu-item-list">
      <% @special_drink_menus.each do |menu| %>
        <li class="menu-item">
          <div class="menu-item-header">
          <h3><%= menu.name %></h3>
          <td><%= link_to like_menu_path(menu), method: :post do %>
                <%= image_tag("heart.png", class: "like-btn") %>
              <% end %>
              <td class="like-btn">
              <%= number_with_delimiter(menu.likes.count) %>  likes</td>
          </td>
          </div>
          <p><%= menu.description %></p>
          <% if menu.image_url.present? %>
            <%= image_tag menu.image_url %>
          <% end %>
          <% if user_signed_in? && current_user.admin? %>
           <%= link_to 'Edit', edit_menu_path(menu), class: 'admin-link' %>
            <%= link_to 'Destroy', menu, method: :delete, data: { confirm: 'Are you sure?' }, class: 'admin-link' %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </section>
  <div class="admin-link">
<% if user_signed_in? %>
    <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "logout-button" %>
  <% end %>
  </div>
